<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc6:war exploded">
    <output-path>$PROJECT_DIR$/springmvc6/target/springmvc6</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springmvc6/target/springmvc6/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springmvc6/web/Web" />
    </root>
  </artifact>
</component>